@import url('https://webfontworld.github.io/NexonLv1Gothic/NexonLv1Gothic.css');
@import url('https://webfontworld.github.io/BMJua/BMJua.css');
@import url('https://webfontworld.github.io/gonggames/EsaManru.css');
@import url('https://webfontworld.github.io/nyj/NYJGothic.css');
@import url('https://webfontworld.github.io/iropke/IropkeBatang.css');
@import url('https://webfontworld.github.io/kohi/KOHIBaeum.css');
@import url('https://webfontworld.github.io/tmoney/TmoneyRoundWind.css');
@import url('https://webfontworld.github.io/eland/ElandChoice.css');
@import url('https://webfontworld.github.io/utoImagegothic/UtoImageGothic.css');
@import url('https://webfontworld.github.io/Jalpullineun/JalpullineunHaru.css');
/* reset */
* {
    margin: 0;
    padding: 0;
    color: #fff;
}
*, *::before, *::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #222;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
li, ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal;
}
.font01 {
    font-family: NexonLv1Gothic;
}
.font02 {
    font-family: BMJua;
}
.font03 {
    font-family: EsaManru;
}
.font04 {
    font-family: NYJGothic;
}
.font05 {
    font-family: IropkeBatang;
}
.font06 {
    font-family: KOHIBaeum;
}
.font07 {
    font-family: TmoneyRoundWind;
}
.font08 {
    font-family: ElandChoice;
}
.font09 {
    font-family: UtoImageGothic;
}
.font10 {
    font-family: JalpullineunHaru;
}
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
}
body.img01 {
    background-image: url(../img/sliderEffect01-min.jpg);
}
body.img02 {
    background-image: url(../img/sliderEffect02-min.jpg);
}
body.img03 {
    background-image: url(../img/sliderEffect03-min.jpg);
}
body.img04 {
    background-image: url(../img/sliderEffect04-min.jpg);
}
body.img05 {
    background-image: url(../img/sliderEffect05-min.jpg);
}
body.img06 {
    background-image: url(../img/sliderEffect06-min.jpg);
}
body.img07 {
    background-image: url(../img/sliderEffect07-min.jpg);
}
body.img08 {
    background-image: url(../img/sliderEffect08-min.jpg);
}
body.img09 {
    background-image: url(../img/sliderEffect09-min.jpg);
}
body.img10 {
    background-image: url(../img/sliderEffect10-min.jpg);
}
body::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(5, 36, 70, 0.87);
    z-index: -1;
}
body.bg01::after {
    background-color: rgba(88, 112, 138, 0.37);
}
body.bg02::after {
    background-color: rgba(59, 130, 211, 0.37);
}
body.bg03::after {
    background-color: rgba(28, 71, 119, 0.37);
}
body.bg04::after {
    background-color: rgba(26, 84, 151, 0.37);
}
body.bg05::after {
    background-color: rgba(9, 76, 148, 0.77);
}
body.bg06::after {
    background-color: rgba(15, 87, 116, 0.7);
}
body.bg07::after {
    background-color: rgba(42, 72, 82, 0.37);
}
body.bg08::after {
    background-color: rgba(31, 48, 68, 0.37);
}
body.bg09::after {
    background-color: rgba(16, 33, 53, 0.37);
}
body.bg10::after {
    background-color: rgba(10, 30, 53, 0.37);
}

