/* slider__wrap */
.slider__inner .slider {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 2;
}
.slider__inner .slider.img1 {
    background-image: url(../img/sliderType01_01.jpg);
}
.slider__inner .slider.img2 {
    background-image: url(../img/sliderType01_04.jpg);
}
.slider__inner .slider.img3 {
    background-image: url(../img/sliderType01_03.jpg);
}
.slider__inner .slider::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;   
} 
.slider__info {
    padding: 100px 0;
}
.slider__info .small {
    display: inline-block;
    padding: 1px 30px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    border-radius: 50px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.slider__info .title {
    font-size: 80px;
    color: #fff;
    margin-bottom: 40px;
    margin-left: -5px;
}
.slider__info .desc {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    width: 50%;
    word-break: keep-all
}
.slider__info .btn {
    margin-top: 100px;
}
.slider__info .btn a {
    width: 180px;
    background-color: #fff;
    font-size: 16px;
    display: inline-block;
    text-align: center;
    padding: 12px 0;
    margin-right: 4px;
}
.slider__info .btn a:last-child {
    background-color: #000;
    color: #fff;
}
.slider__arrow {}
.slider__arrow a {
    position: absolute;
    top: 50%;
    background-image: url(../img/icon_main.svg);
    background-size: 500px;
    width: 30px;
    height: 56px;
    display: block;
    margin-top: -28px;
}
.slider__arrow a:first-child{
    left: 20px;
}
.slider__arrow a:last-child{
    right: 20px;
    background-position: -52px 0;
}
.slider__dot {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}
.slider__dot a {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-image: url(../img/icon_main.svg);
    background-size: 500px;
    background-position: -101px -1px;
    margin: 0 3px;
}
.slider__dot a.dot {
    background-position: -101px -1px;
}
.slider__dot a.active {
    background-position: -121px -1px;
}
.slider__dot a.play {
    background-position: -141px -1px;
}
.slider__dot a.stop {
    background-position: -161px -1px;
}

.swiper-button-prev, 
.swiper-button-next {
    width: 30px;
    height: 56px;
    background-image: url(../img/icon_main.svg);
    background-size: 500px;
}
.swiper-button-next {
    background-position: -52px 0;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 0;
}

.swiper-pagination-bullet {
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_main.svg);
    background-size: 500px;
    background-position: -101px -1px;
    opacity: 1;
    background-color: transparent;
}

.swiper-pagination-bullet-active {
    background-position: -121px -1px;
    
}
.swiper-pagination {
    bottom: 20px !important;
}

.swiper-button {
    position: absolute;
    left: 50%;
    z-index: 1000;
    bottom: 24px;
    display: flex;
    margin-left: 40px;
}
.swiper-button-play {
    width: 16px;
    height: 16px;
    margin-right: 7px;
    background-image: url(../img/icon_main.svg);
    background-size: 500px;
    background-position: -141px -1px;
    cursor: pointer
}
.swiper-button-stop {
    width: 16px;
    height: 16px;
    background-image: url(../img/icon_main.svg);
    background-size: 500px;
    background-position: -161px -1px;
    cursor: pointer;
}


@media only screen and (-webkit-min-device-pixel-ratio: 3),
    only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 2dppx) {
        .slider__inner .slider {           
            background-image: url(../img/sliderType01_01@2x.jpg);
    }                 
}

/* 미티어쿼리 */
@media (max-Width: 1200px){
    .slider {
        text-align: center;
    }
    .slider__info .desc {
        width: 100%;
        padding: 0 5%;
        box-sizing: border-box;
    }
}
@media (max-Width: 960px){
    .slider__info .title {
        font-size: 40px;
    }
    .slider__info .btn {
        margin-top: 50px;
    }
}
@media (max-Width: 600px){
    .slider__info {
        padding: 50px 0 70px;
    }
    .slider__info .title {
        font-size: 30px;
    }
    .slider__info .desc {
        font-size: 14px;
    }
    .slider__info .btn {
        margin-top: 30px;
    }
    .slider__info .btn a {
        width: 120px;
        font-size: 14px;
        padding: 6px 0;
    }
    .swiper-pagination {
        bottom: 10px !important;
    }
    .swiper-button {
        bottom: 14px !important; 
    }
    .swiper-button-prev, 
    .swiper-button-next {
        display: none;
    }
}