<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A-1</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }
        .contaienr {
            width: 1200px;
            margin: 0 auto;
        }
    </style>
</head>
    <div class="contaienr">
        <header id="header">
            <div>로고</div>
            <div>메뉴</div>
        </header>
    </div> 
    <div class="contaienr">
        <main id="main">
            <div class="slider">이미지슬라이더</div>
            <section class="section">
                <article>공지사항</article>
                <article>배너</article>
                <article>바로가기</article>
            </section>
        </main>
    </div>
    <div class="contaienr">
        <footer id="footer">
            <div>로고</div>
            <div>하단메뉴</div>
            <div>copyrght</div>
        </footer>
    </div>  
    
<body>
    
</body>
</html>