/* reset */
* {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'NotoSansKR';
}
*, *::before, *::after {
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
li, ul, ol {
    list-style: none;
}
img {
    vertical-align: top;
    width: 100%;
}
em {
    font-style: normal;
}
#main {
    padding-top: 90px;
    /* 생략 */
  }