#sldierSection {
    width: 100%;
    padding-bottom: 80px;
}
#sldierSection .slider__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#sldierSection .slider__inner .slider__img {
    width: 33.3333%;
}
#sldierSection .slider__inner .slider__img::before {
}
#sldierSection .slider__inner .slider__img a {
 
}
#sldierSection .slider__inner .slider__img a img {
    filter: brightness(70%);
}
#sldierSection .slider__inner .slider__img a img:hover {
    filter: brightness(100%);
}
