/* skip */
#skip {
    position: relative;
    z-index: 1000000;
}
#skip a {
    background-color: #000;
    color: #fff;
    position: absolute;
    left: -400px;
    top: 0;
    padding: 20px 40px;
}
#skip a:active,
#skip a:focus {
    left: 0;
}
/* container */
.container {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
    /* background-color: rgba(0,0,0,0.1); */
}

/* bg */
.gray {
    background-color: #f5f5f5;
}

/* section */
.section {
    padding: 120px 0;
}
.section__small {
    font-size: 14px;
    border-radius: 50px;
    background-color: rgba(219, 7, 7, 0.6);
    color: #fff;
    padding: 1px 23px;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: inline-block;
}
.section.center {
    text-align: center;
}
.section__h2 {
    font-size: 50px;
    font-weight: 400;
    margin-bottom: 30px;
    line-height: 1;
}
.section__desc {
    font-size: 22px;
    color: #666;
    margin-bottom: 70px;
    font-weight: 300;
    line-height: 1.5;
}


/* 미디어쿼리 */
@media (max-width: 1200px){
    .container {
        width: 100%;
        box-sizing: border-box;
    }
}
@media (max-width: 960px){
    .section {
        padding: 100px 0;
    }
    .section__h2 {
        font-size: 40px;
        margin-bottom: 10px;
    }
    .section__desc {
        font-size: 18px;
        margin-bottom: 40px;
    }
}
@media (max-width: 600px){
    .section {
        padding: 80px 0;
    }
    .section__h2 {
        font-size: 30px;
    }
    .section__desc {
        font-size: 16px;
    }
}