/* text__wrap */
.text__wrap {}
.text__inner {
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text__inner .text{
    width: 32.3333%;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    padding: 90px 20px 20px 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
}
.text__inner .text:hover{
    background-color: #aaa6a6;
}
.text__inner .text::before {
    content: '';
    width: 60px;
    height: 60px;
    background-position: center; 
    background-repeat: no-repeat;
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 50%;
}
.text__inner .text.t1::before {
    background-color: #EDD0A6;
    background-image: url(../img/textType01_01.svg);
}
.text__inner .text.t2::before {
    background-color: #A9F5C3;
    background-image: url(../img/textType01_02.svg);
}
.text__inner .text.t3::before {
    background-color: #B8E9FF;
    background-image: url(../img/textType01_03.svg);
}
.text__inner .text.t4::before {
    background-color: #F8C6F3;
    background-image: url(../img/textType01_04.svg);
}
.text__inner .text.t5::before {
    background-color: #C4BAFF;
    background-image: url(../img/textType01_05.svg);
}
.text__inner .text.t6::before {
    background-color: #F9C6C6;
    background-image: url(../img/textType01_06.svg);
}
.text__title {
    font-size: 24px;
    margin-bottom: 10px;
}
.text__desc {
    font-size: 16px;
    color: #666;
    margin-bottom: 15px;
    line-height: 1.5;
}
.text__btn {
    float: right;
    position: relative;
    padding-right: 20px;
}
.text__btn::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    background-image: url(../img/icon_plus.svg);
    transition: all 1s;
}
.text__btn:hover::before{
    transform: rotate(360deg);
}

@media (max-width: 960px){
    .text__inner .text {
        width: 49%;
    }
}
@media (max-width: 600px){
    .text__inner .text {
        width: 100%;
    }
}