/* inlining img sources */
html::before {
}

/* Adjusts to any size window <3 */

:root {
    --c1: hsl(219, 79%, 66%);
    --c2: hsl(319, 100%, 60%);
    --c3: hsl(266, 49%, 25%);
    --c4: hsl(60, 82%, 58%);
    --c5: hsl(0, 67%, 55%);
    --c6: hsl(213, 96%, 11%);
    --c2hsl: 319, 100%, 60%;
}

@property --outrun {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}

@keyframes outrun {
    to {
        --outrun: 1;
    }
}

html {
    height: 100vh;
}

body {
    /* background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/9100d753-02ac-4ed8-ac98-5e45d6deecad/df0uj78-1a18f012-62f2-43ef-a608-7924ad4de259.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzkxMDBkNzUzLTAyYWMtNGVkOC1hYzk4LTVlNDVkNmRlZWNhZFwvZGYwdWo3OC0xYTE4ZjAxMi02MmYyLTQzZWYtYTYwOC03OTI0YWQ0ZGUyNTkuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.6WNay7NpEIh2fLenZT6vvRQfy-Q0RRp1iGKGiYsRNUI); */
    /* background-image: url(https://i.pinimg.com/originals/6d/78/71/6d78711d7c8438405ee8a5a50114f9ac.gif); */
    /* background-image: url(https://i.pinimg.com/originals/c0/65/c5/c065c55e72bc6169fe727317494cdd71.gif); */
    /* background-image: url(https://i.pinimg.com/originals/b4/53/c8/b453c862745f1af4fac41d40dd862996.gif); */
    background-image: url(https://64.media.tumblr.com/785d2a9fcde0637d6f092439e5a5b042/tumblr_oqhkz2tCqI1qbw2q1o1_1280.gif);
    /* background-image: url(https://media.tenor.com/iNpoS6srIXkAAAAd/waneella-pixel-art.gif); */
    background-size:cover; 
    background-repeat: no-repeat;
    /* object-fit: cover; */
  
}