/* inlining img sources */
html::before {
}

/* Adjusts to any size window <3 */

:root {
    --c1: hsl(219, 79%, 66%);
    --c2: hsl(319, 100%, 60%);
    --c3: hsl(266, 49%, 25%);
    --c4: hsl(60, 82%, 58%);
    --c5: hsl(0, 67%, 55%);
    --c6: hsl(213, 96%, 11%);
    --c2hsl: 319, 100%, 60%;
}

@property --outrun {
    syntax: "<number>";
    initial-value: 0;
    inherits: false;
}

@keyframes outrun {
    to {
        --outrun: 1;
    }
}

html {
    height: 100vh;
}

body {
    /* background-image: url(); */
    background-image: url(https://64.media.tumblr.com/785d2a9fcde0637d6f092439e5a5b042/tumblr_oqhkz2tCqI1qbw2q1o1_1280.gif);
    /* background-image: url(https://media.tenor.com/iNpoS6srIXkAAAAd/waneella-pixel-art.gif); */
    background-repeat: no-repeat;
    background-size: cover;
  
}